.header-wrapper {
    background-color: #1a1a1a;
}
.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 50px;
}
.header-left ul, .header-right ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.header-left li {
    margin-right: 15px;
}
.header-left li:last-child {
    margin-right: 0;
}
.header-left li a, .header-right li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.71rem;
    transition: all ease-in-out 0.2s;
}
.header-left li a:hover {
    color: #919191;
}
.header-right li {
    margin-right: 50px;
}
.header-right li a:hover {
    color: #919191;
}
.header-right li:last-child {
    margin-right: 0;
}
.signin {
    color: #dddddd !important;
}
.signup {
    background-color: #f2f2f2;
    padding: 6px 10px;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
}
.signup:hover {
    background-color: #9b9b9b;
}
.signup a {
    color: #000 !important;
    font-size: 0.60rem !important;
}

.header2 {
    margin-top: 20px;
}
.header2 .container {
    border-bottom: 2px solid #353535;
    padding-bottom: 35px;
}
.header2-inner {
    display: flex;
}
.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email-area {
    display: flex;
    align-items: center;
    width: 22%;
}
.pagbank-area {
    display: flex;
    align-items: center;
    margin: 0 40px;
}
.logo {
    width: 20%;
}
.email {
    margin-right: 22px;
}
.email a {
    font-size: 0.75rem;
    text-decoration: none;
    background-color: #cb0003;
    padding: 13px 50px;
    border-radius: 5px;
    color: #fff;
}
.email a:hover {
    background-color: #e06668;
}
.email-desc a {
    text-decoration: none;
    font-size: 0.73rem;
    color: #000;
}
.email-desc a:hover {
    color: #b0b2b3;
}
.location-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}
.location-area a {
    text-decoration: none;
    color: #000;
}
.location-area a:hover {
    color: #929292;
}
.location {
    display: flex;
    align-items: center;
}
.location small {
    font-weight: bold;
    font-size: 0.7rem;
}
.search {
    margin-left: 5px;
    cursor: pointer;
}
.celsius {
    font-size: 0.7rem;
    margin-top: 5px;
}
.red-span {
    color: #d52b32;
}
.blue-span {
    color: #62c7f2;
}
.search-on-uol {
    display: flex;
    align-items: center;
}
.search-on-uol input {
    width: 85%;
    border: 0;
    background-color: #f2f2f2;
    outline: none;
    padding: 13px;
    border-radius: 5px;
}
.pb-top {
    margin-bottom: 5px;
}
.pb-bottom {
    border-top: 1px solid #ddd;
    padding: 5px;
    font-size: 0.7rem;
}
.pagbank-area a {
    text-decoration: none;
}
.pb-bottom span {
    color: #aed560;
}
.modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.8);
}
.search-expanded {
    display: none;
    position: relative;
    top: -35px;
    z-index: 2;
}
.search-expanded input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #ccc;
}
.close-modal {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    background-color: red;
    color: #fff; 
    position: relative;
    top: -30px; 
    left: 170px;
    cursor: pointer;
}

.header3 .header-menu {
    border-bottom: 1px solid #dfdfdf;
}
.header3 .header-menu ul {
    display: flex;
    list-style: none;
}
.header3 .header-menu ul li {
    width: 100%;
    border-top: 5px solid #fff;
}
.header3 .header-menu ul li:last-child {
    margin-right: 0;
}
.header3 .header-menu ul li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #353535;
    font-size: 0.71rem;
    font-weight: bold;
    cursor: pointer;
}
.header3 .header-menu ul li:hover .submenu {
    display: flex;
}
.header3 .submenu {
    display: none;
    position: absolute;
    top: 208px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
}
.submenu-left {
    width: 100%;
}
.submenu-left a {
    font-size: 1rem !important;
    padding: 7px 0 !important;
}
.submenu-left a:hover {
    color: #cb0033 !important;
}
.submenu-right {
    width: 70%;
}
.submenu-right-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.submenu-right-f-span {
    margin-bottom: 10px;
    color: #d85503;
    font-size: 1rem;
    font-weight: normal;
}
.submenu-right-s-span {
    color: #ddd;
    font-size: 1rem;
    font-weight: normal;
}
.submenu-right-s-span:hover {
    color: #b6b6b6;
}
.contact-info {
    margin-bottom: 20px;
    font-size: 1rem;
}
.small-span {
    font-weight: normal;
    font-size: 0.7rem;
}