    <header>
        <div class="header-wrapper">
            <div class="container">
                <div class="header1">
                    <div class="header-left">
                        <nav>
                            <ul>
                                <li><a href="">INGRESSO.COM</a></li>
                                <li><a href="">BATE-PAPO</a></li>
                                <li><a href="">UOL MEU NEGÓCIO</a></li>
                                <li><a href="">PASSEI DIRETO</a></li>
                                <li><a href="">UOL PLAY</a></li>
                                <li><a href="">PAGSEGURO</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <nav>
                            <ul>
                                <li><a href="">SAC</a></li>
                                <li><a href="">EMAIL</a></li>
                                <li><a href="" class="signin">ENTRE</a></li>
                                <li class="signup"><a href="">ASSINE UOL</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="header2">
            <div class="container">
                <div class="header2-inner">
                    <div style="background-color: red; width: 50%;"></div>
                    <div style="background-color: blue; width: 50%;">2</div>
                    <div style="background-color: pink; width: 50%;">3</div>
                    <div style="background-color: purple; width: 50%;">4</div>
                </div>
            </div>
        </div>
    </header>
