    <header>
        <div class="header-wrapper">
            <div class="container">
                <div class="header1">
                    <div class="header-left">
                        <nav>
                            <ul>
                                <li><a href="">INGRESSO.COM</a></li>
                                <li><a href="">BATE-PAPO</a></li>
                                <li><a href="">UOL MEU NEGÓCIO</a></li>
                                <li><a href="">PASSEI DIRETO</a></li>
                                <li><a href="">UOL PLAY</a></li>
                                <li><a href="">PAGSEGURO</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <nav>
                            <ul>
                                <li><a href="">SAC</a></li>
                                <li><a href="">EMAIL</a></li>
                                <li><a href="" class="signin">ENTRE</a></li>
                                <li class="signup"><a href="">ASSINE UOL</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="header2">
            <div class="container">
                <div class="header2-inner">
                    <div class="logo" title="UOL - Seu universo online">
                        <a href=""><img src="../../../assets/uol-logo.svg" alt="" height="60"></a>
                    </div>
                    <div class="email-area">
                        <div class="email" title="Email"><a href="">EMAIL</a></div>
                        <div class="email-desc" title="Assine"><a href="">Ainda não tem um email UOL? <span style="font-weight: bold;">Assine</span></a></div>
                    </div>
                    <div class="pagbank-area">
                        <a href="">
                            <div class="pb-top"><a href=""><img src="../../../assets/pagbank.png" height="15"></a></div>
                            <div class="pb-bottom">
                                Dólar<span> 4,983</span>
                                Euro<span> 5,215</span>
                            </div>
                        </a>
                    </div>
                    <div class="location-area">
                        <div style="display: flex;">
                            <a href=""><div class="location"><small>São Paulo</small></div></a>
                            <div class="search" (click)="showModal()"></div>
                        </div>
                        <a href="">
                            <div class="celsius">
                                <span class="red-span">15ºC</span><span class="blue-span"> 6ºC</span>
                            </div>
                        </a>
                        <div class="search-expanded" #searchExpanded>
                            <input type="text" placeholder="Busque cidades no Brasil">
                            <div class="close-modal" 
                            style="color: red; position: relative; top: -30px; left: 180px;cursor: pointer;" (click)="closeModal()">x</div>
                        </div>
                    </div>
                    <div class="search-on-uol"><input type="text" placeholder="BUSCAR NO UOL"></div>
                </div>
            </div>
        </div>
    </header>
    <div class="modal" #modal></div>
