<app-advertising></app-advertising>
<div class="top-info">
    <div class="top-info-left-side">
        <!--<div style="margin-bottom: 20px; border-bottom: 1px solid #f00;"></div>-->
        <div class="news-wrapper" *ngFor="let item of items">
            <a href="" class="news-item">
                <div class="news-area">
                    <div class="picture">
                        <img src="../../assets/img4.jpg">
                    </div>
                    <div class="top-info-left-side-title">
                        <h3>Rússia e China usam bombardeiros para dar recado militar a Biden</h3>
                    </div>
                    <div class="top-info-left-side-desc">
                        Guerra faz 3 meses marcada por resistência; Rússia reduz ritmo da ofensiva na Ucrânia
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="top-info-right-side">
        <div class="t-info-right-wrapper">
            <div class="uol-channel">
                <div class="uol-channel-title">Canal Uol</div>
                <div class="uol-channel-video">
                    <video src="../../assets/dormir.mp4" controls></video>
                </div>
                <div class="uol-channel-desc">
                    Josias: Bolsonaro sonega horas de trabalho e não separa o presidente do candidato
                </div>
            </div>
        </div>
    </div>
</div>